<div class="board">
   -for(var i = 0; i < 9; i++)
      div(class="row" + i)
         -for(var j = 0; j < 9; j++)
            div(class="square" id="square" +i+j)
</div> 
<div class="buttons">
<button id="button" class="button">Mostrar valores</button>
<button id="button2" class="button">Resolver Sudoku</button>
</div>
